# Ruta al JSON de la Service Account de Firebase
GOOGLE_APPLICATION_CREDENTIALS=serviceAccount.json

# ID del proyecto de Firestore
FIRESTORE_PROJECT_ID=brawl-tcg

# API key de Pokémon TCG (https://pokemontcg.io)
POKEMON_TCG_API_KEY=

# Idioma por defecto para las reglas
DEFAULT_LANGUAGE=es
